* {
    font-family: Montserrat;
    box-sizing: border-box;
    outline: none;
}

body,html {
  padding: 0;
  margin:0;
}

._buildon-main {
  padding: 10px;
}

._buildon-main h1 {
  font-size: 15pt;
  color:#404040;
}

._buildon-badge {
  padding:5px 10px;
  /*background-color: #156f9b;*/
  font-size: 7pt;
  color: black;
  border-radius: 30px;
  margin-right:5px;
  border:1px solid #d9d9d9;
}

._buildon-header {
  background: url("https://d1v6k5zme7ewm8.cloudfront.net/header.jpg");
  padding:125px 10px 80px 10px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
  /*margin-top: 10px;*/
  /*border-bottom-right-radius: 150px*/
}

._buildon-header h1 {
  margin:0;
  font-size:14pt;
  color:white;
}

._buildon-input {
  padding:10px;
  width:100%;
  border:none;
  border-radius: 3px
}

._buildon-form {
  display: block;
  justify-content:center;
  align-self:end;
  margin-bottom: 30px
}

._buildon-form label {
  margin-bottom: 5px;
  display: block
}

._buildon-text-divider {
  border-top:1px solid rgb(216, 216, 216);
  text-align: center;
  margin-top:20px;
}

._buildon-text-divider span {
  display:inline-block;
  position:absolute;
  transform: translateY(-12px) translateX(-15px);
  background:white;
  width:30px;
  color:rgb(79, 79, 79);
}

._buildon-input-container {
  display:flex;
  margin-bottom: 10px;
  border:1px solid rgb(216, 216, 216);
  border-radius: 3px;
  padding:1px;
}

._buildon-input-container span, ._buildon-input-container img{
  align-self:center;
  width:15%;
  color:rgb(124, 124, 124);
}

._buildon-input-container img {
  width: 8%;
  margin: 0 8px;
}

._buildon-center-v {
  display: grid;
  grid-template-columns: 1fr;
  height:75vh;
  align-items:center;
  padding: 0 50px;
}

._buildon-button {
  width:100%;
  padding:10px;
  margin-top:20px;
  border-radius: 3px;
  border:none;
  background:linear-gradient(to right,#1ca7ec,#1f2f98);
  color:white;
  font-weight: bold;
  margin-bottom: 10px
}

._buildon-step-end-button {
  margin-top:0;
  margin-bottom: 0;
}

._buildon-social-media-button {
  border:1px solid rgb(226, 226, 226);
  border-radius: 50px;
  background-color: white;
  display:flex;
  justify-content:center;
  padding:10px;
  align-self:start;
}

._buildon-social-media-button img {
  width: 30px;
  margin-right:10px;
}

._buildon-social-media-button span {
  align-self:center;
}


._buildon-create-account {
  font-size:9pt;
  color:rgb(86, 86, 86)
}

._buildon-step-container {
  display:flex;
  margin-bottom: 30px
}

._buildon-step-container div {
  display: inline-block
}

._buildon-step-indicator {
  border-radius: 100%;
  padding:10px;
  border:1px solid #e3e3e3;
  width:30%;
  text-align: center;
  align-self:center;
}

._buildon-step-line {
  width:100%;
  background-color: #f7f7f7;
  padding:5px 0;
  align-self:center;
  border-radius: 50px;
  margin:0 5px;
  border:1px solid #e3e3e3
}

._buildon-steps {
  margin-top:40px;
}


._buildon-step-active {
  background-color: blue;
  color:white;
}

._buildon-step-action {
  display:flex;
  margin-top:30px;
}

._buildon-step-button:first-child {
  margin-right:10px;
}

._buildon-step-button {
  width:100%;
  border:none;
  padding:10px;
  border-radius: 3px;
  font-size:11pt;
  background-color: #4995d7;
  color:white;
}

._buildon-center-v {
  display: grid;
  grid-template-columns: 1fr;
  align-self:center;
}

.user-header {
  /* padding: 20px; */
  display: flex;
  background: linear-gradient(to right,#1ca7ec,#1f2f98);
  color: white;
  margin-bottom: 20px
}

.user-header section ._buildon-badge {
  color:white
}

.user-header section {
  padding: 10px;
  align-self :center
}


.user-header img {
  width: 120px;
  height: 120px;
  margin-right: 10px
}

.user-header h1 {
  font-size: 11pt;
  margin-top:0
}

.padding-even {
  padding: 20px;
}

._buildon-user-panel {
  border:1px solid rgb(236, 236, 236);
  border-radius: 3px
}

._buildon-user-panel-title h1 {
  margin:0;
  font-size: 11pt;
  color: white;
  width: 100%
}
._buildon-user-panel-title {
  /* background-color: rgb(247, 247, 247); */
  background:linear-gradient(to right,#1f2f98,#1ca7ec);
  padding: 10px;
  border-radius: 3px 3px 0 0;
  display:flex
}

._buildon-user-panel-title span {
  align-self:center;
  color:white
}

._buildon-user-panel-content ul{
  padding:0;
  margin:0;
  list-style: none;
}

._buildon-user-panel-content ul li {
  padding: 10px;
  font-size: 10pt;
  display:flex;
}

._buildon-user-panel-content ul li span:first-child {
  width: 100%;
  color: rgb(59, 137, 255)
}

._buildon-user-panel-content ul li span:last-child {
  color: #bd7878;
  width: 10%
}

._buildon-user-panel-content ul li:nth-child(2n) {
  background-color: rgb(241, 241, 241)
}

._buildon-user-panel-content ul li:not(:last-child) {
  border-bottom: 1px solid rgb(240, 240, 240)
}

._buildon-note {
  padding: 10px 5px;
  font-size: 10pt;
}

._buildon-note p {
  margin-bottom:0
}

._buildon-step-snappic {
  padding:10px;
  border:1px solid #dbdbdb;
  background-color:white;
  border-radius:3px;
  margin-top:5px
}

._buildon-step-snappic span {
  font-size:12pt
}

._buildon-take-pic {
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.2);
  z-index:1;
  top:0;
  left:0;
  display:flex;
  padding: 0 20px
}

._buildon-pic-panel {
  width:100%;
  background-color: white;
  border-radius:3px;
  align-self:center;
  text-align:center;
}

._buildon-pic-panel video {
  margin-bottom: 10px;
  transform: scale(-1,1)
}

._buildon-pic-panel canvas {
  border-radius: 3px;
  transform: scale(-1,1);
  width: 90%
} 

._buildon-pic-panel-action {
  text-align: right;
  padding: 15px 20px;
  background:linear-gradient(to right,#1f2f98,#1ca7ec);
  border-radius: 3px 3px 0 0;
}

._buildon-pic-panel-action span {
  color: white
}

.outlined {
  background-color: white !important;
  border: 1px solid #4995d7 !important;
  color: #4995d7 !important
}

.uploaded-image img{
  width: 50%;
  border-radius: 3px;
}

.uploaded-image img[id=canver] {
  transform: scale(-1,1);
}

.review-panel h1{
  display: inline-block;
  font-size: 10pt;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 5px;
}

.review-panel {
  background-color: rgb(247, 247, 247);
  padding: 10px;
  border-radius: 3px;
  border:1px solid rgb(238, 238, 238)
}

.request-add-dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
  display:grid;
  grid-template-columns: 1fr;
  align-items:center;
  justify-items: center;
  top:0;
  z-index: 1
}

.request-add-panel {
  width: 80%;
  background-color: white;
  border-radius: 3px;
  height: 80%;
  overflow-y: scroll;
}

.request-add-panel img {
  width: 100%;
}

.request-add-panel label {
  font-size: 10pt;
  margin-bottom:5px;
  display: block;
}

.request-add-panel details {
  display: block;
  background-color: rgb(238, 238, 238);
  border-radius: 3px;

}

.request-add-panel details summary {
  border-radius: 3px;
  font-size: 11pt;
  padding: 10px;
  background: linear-gradient(to bottom, rgb(228, 228, 228), transparent);
  border-bottom: 1px solid rgb(228, 228, 228)
}

.request-add-panel details section small {
  margin-bottom: 10px;
  display: block;
  text-align: justify;
}

.request-add-panel details section {
  padding: 10px;
  background-color: rgb(241, 241, 241);
}

.leaflet-container {
  height: 30vh;
  width: 100%;
  border:1px solid rgb(189, 189, 189);
  border-radius:3px;
}

.map-info {
  display: flex
}

.map-info small {
  width: 100%
}

.map-info span { 
  width: 10%;
  font-size: 13pt;
  align-self: center;
}

.request-add-action {
  padding: 10px;
  width: 100%;
  background: linear-gradient(to bottom, rgb(212, 212, 212), rgb(190, 190, 190));
  text-align:right;
  color: gray;
}

.request-add-button[disabled] {
  background:linear-gradient(to right,#b7d9ea,#80849d)
}

.request-add-button {
  margin-top: 10px;
  width: 100%;
  border:none;
  border-radius: 3px;
  padding: 10px;
  background: linear-gradient(to right,#1ca7ec,#1f2f98);
  color: white
}

.request-on {
  animation-name: reqOn;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(.32,.01,.41,1.28);
}

.current-request-dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
  display:grid;
  grid-template-columns: 1fr;
  align-items:center;
  justify-items: center;
  top:0;
  z-index: 1
}

.current-request-panel {
  width: 80%;
  background-color: white;
  border-radius: 3px;
  padding: 10px
}

.current-request-panel label {
  display:block;
  margin-bottom: 10px;
  font-size: 10pt
}

.current-request-panel img {
  width: 100%;
  border-radius: 5px;
  height: 400px;
  overflow-y: scroll;
  margin-bottom: 10px
}


@keyframes reqOn {
  from {
      /* transform: translateY(-40px); */
      transform: scale(0);
      opacity: 0
  }
  to {
      /* transform: translateY(0); */
      transform: scale(1);
      opacity: 1;
  }
}